.select {
	position: relative;
	width: 106px;
	&__header,
	&__item {
		font-weight: 600;
		img {
			margin: 0 8px 0 0;
		}
	}
	&__header {
		cursor: pointer;
		position: relative;
		transition: all 0.2s;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		padding: 11px 30px 11px 16px;
		&::after {
			content: "";
			position: absolute;
			top: 48%;
			right: 20px;
			transform: translateY(-50%) rotate(45deg);
			width: 8px;
			height: 8px;
			display: block;
			border: 2px solid #454b58;
			border-width: 0 2px 2px 0;
			transition: all 0.2s;
			z-index: 5;
		}
		&.active::after {
			transform: translateY(0) rotate(225deg);
		}
	}
	&__list {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: #fff;
		z-index: 2;
		transition: all 0.2s;
		transform: scale(0);
		pointer-events: none;
		visibility: hidden;
		opacity: 0;
		box-shadow: 0px 10px 60px 0px rgba(42, 102, 193, 0.15);
		overflow: hidden;
		border-radius: 10px;
		padding: 11px 30px 11px 16px;
		&.active {
			transform: scale(1);
			pointer-events: all;
			visibility: visible;
			opacity: 1;
		}
	}
	&__item {
		font-weight: 600;
		cursor: pointer;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		margin: 0 0 8px;
		&:hover {
			color: #f04973;
		}
	}

	&__default {
		color: #3c434d;
	}
}
