.statistiscs-wrapper{
    &__cards{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__student{
        padding: 45px 0 0 0;
        max-width: 785px;
        &-title{
            color: #292C32;
            font-family: Montserrat;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: 19px;
        }
        &-flex{
            display: flex;
            padding: 25px 0 0 3px;
            gap: 31px;
            flex-wrap: wrap;
        }
        &-table{
            padding-top: 47px;
        }
    }
}
.test{
    margin-top: 25px;
}