.statistics__card {
    border: 1px solid #dce3e8;
    background: rgba(242, 245, 250, 0.6);
    padding: 15px 27px;
    display: flex;
}
.statistics__card_left {
    margin-right: 20px;
}

.statistics__card_right {
}
.statistics__name {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
    line-height: 135.714%; /* 135.714% */
    margin-bottom: 21px;
}
.statistics__inners-wr {
    display: flex;
    justify-content: space-between;
}
.statistics__inner {
}
.statistics__inner_text {
    color: #8b919e;
    font-size: 13px;
    font-weight: 500;
    line-height: 123.077%; /* 123.077% */
}
.statistics__inner_text_bold {
    color: #292c32;
    font-size: 14px;
    font-weight: 600;
    line-height: 171.429%; /*  */
}
.statistics__inner-wr_bottom {
    margin-top: 18px;
}
.statistics__chat-wr_bottom {
    margin-top: 20px;
    display: flex;
    svg {
        fill: #f04973;
    }
}
.statistics__chat-icon {
    width: 20px;
    height: 20px;
}
.statistics__chat-text {
    cursor: pointer;
    color: #f04973;
    font-size: 12px;
    font-weight: 600;
    line-height: 133.333%; /*  */
    text-decoration-line: underline;
    margin-left: 6px;
}
