.hero-title{
        color: #292C32;
        font-size: 60px;
        font-weight: 600;
        line-height: 60px;
        font-family: "EB Garamond";
        


        &__accent{
            color: #F14A73;
            line-height: 60px;
            display: inline;
        }

}