.mess-forum {
	display: flex;
	border: 1px solid #DCE3E8;
	border-top: 0;
	background: #FFF;
	&__user-info,
	&__head {
		display: flex;
		align-items: center;
	}
	&__user-info {
		flex-direction: column;
		padding: 22px 20px;
		border-right: 1px solid #DCE3E8;
	}
	&__image-wrap {
		width: 100px;
		height: 100px;
		border-radius: 100%;
		overflow: hidden;
		margin: 0 0 17px;
	}
	&__image {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&__name {
		font-size: 13px;
		font-weight: 600;
		line-height: 1.1;
		text-align: center;
		margin: 0 0 15px;
	}
	&__head,
	&__text-wrap {
		border-bottom: 1px solid #DCE3E8;
	}
	&__head {
		background: #F2F5FA;
		padding: 12px 15px;
		justify-content: space-between;
	}
	&__head-date,
	&__head-num {
		color: #8B919E;
		font-size: 12px;
		font-weight: 500;
	}
	&__head-num {
		color: #454B58;
	}

	&__text-wrap {
		padding: 26px 25px 28px;
		min-height: 245px;
	}
	&__text {
		color: #454B58;
		line-height: 1.8;
	}
	&__footer {
		padding: 24px 25px 22px;
	}
	&__footer-link {
		color: #F04973;
		font-weight: 600;
		text-decoration: underline;
		margin: 0 30px 0 0;
		&_quote {
			color: #8B919E;
		}
	}
}