.teacher__pos {
    margin-top: 30px;
    padding: 40px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 10px 60px 0px rgba(42, 102, 193, 0.15);
}
.teacher__pos_title {
    color: #292c32;
    font-size: 20px;
    font-weight: 700;
    line-height: 110%; /* 110% */
}
.teacher__pos_block {
    margin-top: 22px;
}
.teacher__pos_block_title {
    margin-bottom: 22px;
    color: #292c32;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px; /* 126.667% */
    margin-bottom: 10px;
}
.teacher__pos_block__text {
}
.teacher__pos_block_title {
}
.teacher__pos_block__text-wr {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.teacher__pos_block__text-wr_text {
    color: #454b58;
    font-size: 15px;
    font-weight: 500;
    line-height: 150%;
    padding: 8px 22px;
    border-radius: 20px;
    background: #f0f4f8;
    display: inline;
}
