.main-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	position: relative;
	overflow: hidden;
	border: 0;
	cursor: pointer;
	text-decoration: none;
	&_middle {
		padding: 19px 5px 17px;
		border-radius: 10px;
	}
	&_small {
		padding: 13px 5px;
		border-radius: 7px;
	}
	&_big{
		padding: 23px 50px;
		box-shadow: 0px 15px 25px 0px rgba(193, 42, 61, 0.20);
		border-radius: 7px;
		color: #FFF;
		font-family: Montserrat;
		font-weight: 700;
		text-transform: uppercase;
	}
	&_white {
		background:
			linear-gradient(white, white) padding-box,
			linear-gradient(90deg, #f04973 0%, #fa6655 100%) border-box;
			border: 1px solid transparent;
	}
	&_red {
		background: linear-gradient(90deg, #f04973 0%, #fa6655 100%);
		box-shadow: 0px 15px 25px 0px rgba(193, 42, 61, 0.2);
	}
	&_blue{
		background: linear-gradient(90deg, #00d2ff 0%, #2596ff 100%);
		box-shadow: 0px 15px 25px 0px rgba(193, 42, 61, 0.2);

	}
	&_width-content {
		width: max-content;
	}
	span {
		color: #fff;
		position: relative;
		z-index: 2;
		font-weight: 700;
		letter-spacing: 0.7px;
	}
	&_white span {
		color: #F04973;
		font-weight: 600;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, #00d2ff 0%, #2596ff 100%);
		opacity: 0;
		transition: opacity 0.2s;
	}
	&_white::after {
		background: linear-gradient(90deg, #f04973 0%, #fa6655 100%);
	}
	&:hover {
		box-shadow: 0px 15px 25px 0px rgba(42, 150, 193, 0.2);
	}
	&_white:hover span {
		color: #fff;
	}
	&:hover::after {
		opacity: 1;
	}
}
