.main-btn {
	background: linear-gradient(90deg, #f04973 0%, #fa6655 100%);
	box-shadow: 0px 15px 25px 0px rgba(193, 42, 61, 0.2);
	display: block;
	width: 100%;
	text-align: center;
	position: relative;
	overflow: hidden;
	&_middle {
		padding: 19px 15px 17px;
		border-radius: 10px;
	}
	span {
		color: #fff;
		position: relative;
		z-index: 2;
		font-size: 14px;
		font-weight: 700;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, #00D2FF 0%, #2596FF 100%);
		opacity: 0;
		transition: opacity .2s;
	}
	&:hover {
		box-shadow: 0px 15px 25px 0px rgba(42, 150, 193, 0.2);
	}
	&:hover::after{
		opacity: 1;
	} 
}
