.lesson-create{
    position: relative;
    z-index: 1;
    &__first{
        position: absolute;
       z-index: -1;
        top: -63px;
        left: 0;
    }
    &__second{
        position: absolute;
        z-index: -1;
        top: -63px;
        right: 0;
    }
}