.lesson-modal{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    &__content{
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 10px 60px 0px rgba(42, 102, 193, 0.15);
        padding: 40px;
        transform: scale(0.5);
        transition: 0.4s;

    }

}

.active{
    opacity: 1;
    pointer-events: all;
}

.active-animation{
    transform: scale(1);
}