.textareaContainer {
    // margin: 0 0 22px;
    &__title {
        color: #8b919e;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.76; /* 176.923% */
        margin: 0 0 8px;
    }
}
