.how-working {

    // .how-working__card

    &__card {
        max-width: 400px;
        height: auto;
        // .how-working__card-images

        &-images {

            display: flex;
            align-items: center;
            max-width: 150px;
            justify-content: space-between;
        }

        // .how-working__card-information

        &-information {
            padding-top: 12px;
            padding-left: 87px;
        }

        // .how-working__card-title

        &-title {
            color: #292C32;
            font-size: 18px;
            font-weight: 700;
            line-height: 22px
        }

        // .how-working__card-description

        &-description {
            color: #454B58;
            font-size: 14px;
            font-weight: 400;
            line-height: 25px;
            padding-top: 12px;
        }
    }
}
