.inputContainer {
    margin: 0 0 15px;
    &__title {
        color: #8b919e;
        font-weight: 500;
        line-height: 1.76; /* 176.923% */
        font-size: 13px;
        margin: 0 0 1px;
    }
}
