.acticle {
}
.date-text_sm {
    color: #8b919e;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
}
.article__text {
    color: #292c32;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px; /* 200% */
}
.article__body {
    padding: 0 117px;
}
.article__top-text {
    margin-top: 16px;
}
.article__text__quote {
    margin-top: 40px;
    padding: 0 93px;
    display: flex;
}
.article__subTitle {
    color: #292c32;
    font-size: 25px;
    font-weight: 700;
    margin-top: 52px;
    line-height: 88%; /* 88% */
}
.article__subSubTitle {
    color: #292c32;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1; /* 110% */
    margin-top: 30px;
}
.article__text {
    color: #292c32;
    font-size: 15px;
    font-weight: 400;
    line-height: 2; /* 200% */
}
.article__descr {
    margin-top: 17px;
}
.article__middle-text {
    display: flex;
    justify-content: space-between;
}
.article__middle-text_left {
    width: 58%;
}
.article__subTitle_mid {
    color: #292c32;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.43; /* 143.75% */
    margin-top: 14px;
}
.article__subTitle_sm {
    color: #292c32;
    font-size: 15px;
    font-weight: 700;
    margin-top: 17px;

    line-height: 1.26; /* 126.667% */
}
.article__text {
}
.article__descr {
}
.article__middle-text_right {
    margin-top: 57px;
}
.article__center {
    margin-top: 62px;
    display: flex;
    justify-content: space-between;
}
.article__center__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 330px;
}
.teacher__cernter__item_title {
    color: #292c32;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.22; /* 122.222% */
    margin-top: 21px;
}
.teacher__cernter__item_text {
    color: #454b58;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.78; /* 178.571% */
    margin-top: 10px;
}
.article__tabs {
    height: 205px;
    margin-top: 60px;
    border-radius: 10px;
    background: #fff;
    margin-top: 53px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px 0px rgba(42, 102, 193, 0.1);
}
.article__tabs {
}
.tabs_top {
    display: flex;
    border-radius: 0px 10px 0px 0px;
    background: #f2f5fa;
}
.tabs_top_active {
    background-color: rgba(255, 255, 255, 1);
    color: #f04973;
    font-size: 12px;
    font-weight: 600;
    line-height: 150%;
}
.tabs_top-tab {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px 25px;
    &.active {
        background: #fff;
    }
}
.tab_text {
    color: #8b919e;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18px */
    margin-left: 8px;
}
.tabs_descr {
    color: #454b58;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 192.308% */
    padding: 25px 25px;
    display: none;
    &.active {
        display: block;
    }
}

.article__tabs_2 {
    height: auto;
    box-shadow: none;
    margin-top: 60px;
    .tabs_top {
        background: none;
        margin-bottom: 17px;
    }
    .tabs_descr {
        padding: 0;
        color: #292c32;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px; /* 200% */
    }
    .tabs_top-tab {
        padding: 0;
        .tab_text {
            margin-left: 0;
            margin-right: 25px;
            font-size: 15px;
            font-weight: 600;
            line-height: 150%; /* 22.5px */
        }
        &.active {
            background: none;
            padding: 0;
            .tab_text {
                color: #f04973;
            }
        }
    }
}

.article__ul-wr {
}
.article__ul {
}
.article__li {
    color: #292c32;
    font-size: 15px;
    font-weight: 400;
    line-height: 200%; /*  */
}
.article__ol {
    // position: relative;
    margin-left: 32px;

    .article__li {
        position: relative;
    }
    .article__li::after {
        display: flex;
        align-items: center;
        position: absolute;
        content: '';
        left: -10px;
        width: 7px;
        top: 46%;
        border-radius: 50%;
        height: 7px;
        border: 1px solid #292c32;
        background-color: transparent;
    }
}

.article__bottom-text-wr {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    color: #292c32;
    font-size: 15px;
    font-weight: 400;
    line-height: 200%; /*  */
}
