.acticle {
}
.date-text_sm {
    color: #8b919e;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
}
.article__text {
    color: #292c32;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px; /* 200% */
}
.article__body {
    padding: 0 117px;
}
.article__top-text {
    margin-top: 16px;
}
.article__text__quote {
    margin-top: 40px;
    padding: 0 93px;
    display: flex;
}
.article__subTitle {
    color: #292c32;
    font-size: 25px;
    font-weight: 700;
    margin-top: 52px;
    line-height: 88%; /* 88% */
}
.article__subSubTitle {
    color: #292c32;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1; /* 110% */
    margin-top: 30px;
}
.article__text {
    color: #292c32;
    font-size: 15px;
    font-weight: 400;
    line-height: 2; /* 200% */
}
.article__descr {
    margin-top: 17px;
}
.article__middle-text {
    display: flex;
    justify-content: space-between;
}
.article__middle-text_left {
    width: 58%;
}
.article__subTitle_mid {
    color: #292c32;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.43; /* 143.75% */
    margin-top: 14px;
}
.article__subTitle_sm {
    color: #292c32;
    font-size: 15px;
    font-weight: 700;
    margin-top: 17px;

    line-height: 1.26; /* 126.667% */
}
.article__text {
}
.article__descr {
}
.article__middle-text_right {
    margin-top: 57px;
}
.article__center {
    margin-top: 62px;
    display: flex;
    justify-content: space-between;
}
.article__center__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 330px;
}
.teacher__cernter__item_title {
    color: #292c32;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.22; /* 122.222% */
    margin-top: 21px;
}
.teacher__cernter__item_text {
    color: #454b58;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.78; /* 178.571% */
    margin-top: 10px;
}
.article__tabs {
    height: 205px;
    margin-top: 60px;
}
.article__tabs2 {
    margin-top: 60px;
    height: 125px;
}
