.home-partners{
    width: 100%;

    &__title{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}