.account__statistics {
    .lk__avatar_img {
        width: 50px;
        height: 50px;
    }
}
.account__title {
}
.account__statistics_subtitle {
    margin-top: 20px;
    color: #292c32;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 126.667%; /* 126.667% */
}
.statistiscs-wr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 10px;
}
