.teacher__lessons {
}
.teacher__trial {
    border-radius: 10px;
    background: #fff;
    padding: 35px 40px;
    box-shadow: 0px 10px 60px 0px rgba(42, 102, 193, 0.15);
    margin-bottom: 30px;
    z-index: 1;
    position: relative;
}
.teacher__trial_text {
    color: #292c32;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1; /* 110% */
    margin-bottom: 15px;
}
.teacher__trial__row {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}
.teacher__trial__row_text {
    color: #454b58;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
}
.teacher__trial__row_num {
    color: #292c32;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%; /* 24px */
}
.teacher__trial_forLate {
    height: 290px;
}

.teacher__trial__box {
    margin-top: 16px;
    border: 1px solid #dce3e8;
    background: rgba(242, 245, 250, 0.6);
    padding: 22px 25px;
}
.teacher__trial__box_date {
    color: #8b919e;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
}
.teacher__trial__box_title {
    color: #292c32;
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    line-height: 1.25; /* 126.667% */
}
.teacher__trial__box__attributes {
    display: flex;
    margin-top: 16px;
    gap: 15px;
}
.teacher__trial__box__attributes__item {
    display: flex;
    border-radius: 20px;
    padding: 5px 11px 5px 11px;

    &_red {
        background: #ffdee4;
    }
    &_purple {
        background: #e1daff;
    }
    &_sky {
        background: #d0eefb;
    }
}
.teacher__trial__box__attributes__item_img {
    margin-right: 6px;
}
.teacher__trial__box__attributes__item_text {
    color: #292c32;
    font-size: 12px;
    font-weight: 600;
    line-height: 150%; /* 18px */
}

.teacher__trial__box__data {
    display: flex;
    gap: 50px;
    border-bottom: 1px solid #dce3e8;
    padding-bottom: 21px;
    margin-top: 20px;
    margin-bottom: 13px;
}
.teacher__trial__box__data__left {
}
.teacher__trial__box__data_title {
    color: #8b919e;
    font-weight: 500;
    line-height: 1.65; /* 164.286% */
}
.teacher__trial__box__data_text {
    color: #292c32;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6; /* 160% */
    margin-top: -3px;
}
.teacher__trial__box__data__right {
}

.teacher__trial__row_text_sm {
    font-size: 14px;
}
