.teacher {
    &__vid {
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 10px 60px 0px rgba(42, 102, 193, 0.15);

        &_vid {
            width: 100%;
            height: 450px;
        }
    }
    &__descr_star {
    }

    &__descr {
        padding: 40px 34px;
        display: grid;
        grid-template-columns: 18% 1fr;

        // .teacher__descr_avatar
        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__right {
        }
        &_avatar {
            width: 130px;
            height: 130px;
        }

        // .teacher__descr_stars

        &_stars {
            margin-top: 17px;
            width: 83px;
            justify-content: space-between;
            display: flex;
            gap: 4px;
        }

        // .teacher__descr_star

        &_star {
            fill: #cccccc;
            width: 13px;
            height: 13px;
        }

        // .teacher__descr_recommend

        &_recommend {
            color: #fff;
            font-size: 15px;
            font-weight: 600;
            line-height: 150%;
            border-radius: 20px;
            background: #28da9a;
            width: 100%;
            padding: 8px 0;
            text-align: center;
            margin-top: 17px;
        }

        // .teacher__descr_chat-wr

        &_chat-wr {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 17px;
            cursor: pointer;
        }

        // .teacher__descr_chat-img

        &_chat-img {
        }

        // .teacher__descr_chat-text

        &_chat-text {
            color: #f04973;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px; /* 133.333% */
            text-decoration-line: underline;
            margin-left: 7px;
            transition: 0.3;
        }
    }
}
