.how-working{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 77px; 
    &__cards{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 1337px;
        margin: 0 auto;
        justify-content: space-between;
        padding-left: 7px;
        padding-top: 34px;
    }

    &__dec{
        position: absolute;
        top: 10px;
        left: 187px;
        z-index: -1;
    }
    
}
.image{
   transform: translateY(-9px);
}