.range-slider {
	height: 15px;
	&__track {
		height: 2px;
		background: #f2f5fa;
		top: 50%;
		transform: translateY(-50%);
		&-1 {
			background: linear-gradient(90deg, #f04973 0%, #fa6655 100%);
		}
	}
	&__thumb {
		width: 15px;
		height: 15px;
		border-radius: 15px;
		border: 2px solid #f04973;
		background: #fff;
		top: 50%;
		transform: translateY(-50%);
		box-shadow: 0px 4px 4px 0px rgba(31, 31, 31, 0.2);
		cursor: pointer;
		&-1 {
			border: 2px solid #fa6655;
		}
	}
	&__values-wrap {
		display: flex;
		align-items: center;
		margin: 0 0 17px;
	}
	&__value {
		border-radius: 20px;
		background: #f2f5fa;
		font-weight: 500;
		font-size: 13px;
		padding: 11px 30px 11px 20px;
		flex: 0 1 50%;
	}
	&__value-delimiter {
		display: block;
		margin: 0 7px;
	}
	&__title {
		color: #8b919e;
		font-size: 13px;
		font-weight: 500;
		line-height: 1.3;
		margin: 0 0 8px;
	}
}
