@import "./../../../../styles/media-breakpoints.scss";

.advantages-block{
    width: 100%;
    height: auto;
    background-color: #F2F5FA;
    padding: 75px 117px 104px 117px;
    margin-top: 50px;
    z-index: 10;
    &__wrapper{
       
    }

    &__title{
        display: flex;
        justify-content: center;        
    }
    &__cards{
       display: flex;
       flex-wrap: wrap;
       gap: 48px;
       justify-content: center;
       margin-top: 25px;
        
    }
}