.hero-block {
    display: flex;
    position: relative;
    justify-content: space-between;
    &__info {

        max-width: 800px;
        margin-left: 118px;
        padding-top: 19px;

    }

    &__image{
        position: absolute;
        left: 1075px;
        z-index: 3;
        top: 128px;
    }

    &__descr {
        max-width: 500px;
        padding-top: 25px;
        color: #454B58;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
    }

    &__button {
        max-width: 262px;
        margin-top: 52px;

    }
    &__slider{
        max-width: 500px;

        &-teachers{
            transform: translateY(-52px);
            position: relative;
        }

        &-bg{
            z-index: -1;
            width: 500px;
            height: 480px;
            position: absolute;
            background: #F2F5FA;
            top: 90px;
            left: 0;
        }

        &-main{
           
        }
    }
}

.slider-custom {

    // .slider-custom__navigation

    &__navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 30px;
        position: absolute;
        left: 0;
        top: 35px;
        gap: 40px;
    }

    &__button {
        width: 8px;
        height: 50px;
        cursor: pointer;

        &:hover{
            fill: #000000;
        }
        // .slider-custom__button-prev

        &-prev {
            transform: rotate(-180deg);
            width: 8px;
            height: 50px;
        }

        // .slider-custom__button-next

        &-next {
            width: 8px;
            height: 50px;
        }
    }

    // .slider-custom__pagination

    &__pagination {
        color: #C7D3E4;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        transform: rotate(-90deg);
        height: 55px;
        width: 100px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;

        ::before{
            content: '0';
            display: inline-block;

        }
    }
}

.swiper-pagination-current{
    color: #F14A74;
    font-size: 35px;
    font-weight: 600;
    line-height: 30px;
}
// .custom-slider {
//     position: relative;
  
//     .custom-pagination {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       margin-top: 10px;
  
//       .swiper-pagination-bullet {
//         width: 10px;
//         height: 10px;
//         background-color: #ccc;
//         margin: 0 5px;
//         border-radius: 50%;
//         opacity: 0.7;
//         cursor: pointer;
  
//         &-active {
//           background-color: #333;
//           opacity: 1;
//         }
//       }
//     }
//   }
//   .custom-navigation {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-top: 10px;

//     .custom-button-prev,
//     .custom-button-next {
//       width: 100px;
//       height: 30px;
//       background-color: #333;
//       color: #fff;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       border-radius: 5px;
//       cursor: pointer;

//       &:hover {
//         background-color: #555;
//       }
//     }
//   }
  