.icon-fb,
.icon-instagram,
.icon-twitter,
.icon-tg,
.icon-whatsup,
.icon-viber {
	fill: rgba(69, 75, 88, 0.4);
}

.icon-fb {
	width: 7px;
	height: 17px;
}
.icon-instagram {
	width: 17px;
	height: 17px;
}
.icon-twitter {
	width: 20px;
	height: 17px;
}
.icon-whatsup {
	width: 17px;
	height: 17px;
}
.icon-tg {
	width: 17px;
	height: 15px;
}
.icon-viber {
	height: 17px;
	width: 16px;
}
