.header {
	background: #fff;
	box-shadow: 0px 4px 50px 0px rgba(42, 102, 193, 0.08);
	min-height: 70px;
	padding: 15px 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 14px 0;
	&_home {
		background: transparent;
		box-shadow: none;
	}
	&__body,
	&__list {
		display: flex;
		align-items: center;
	}
	&__list {
		flex: 1 1 auto;
	}
	&__logo-wrap {
		margin: 0 6.7% 0 0;
	}
	&__item {
		flex: 0 0 auto;
		margin: 0 35px 0 0;
		&:last-child {
			margin: 0;
		}
	}
	&__link {
		display: block;
		font-weight: 500;
		line-height: normal;
		padding: 8px 0;
		border-bottom: 2px solid transparent;
		&:hover {
			border-bottom: 2px solid #f04973;
		}
	}
}
