.input {
    padding: 9px 22px;
    border: none;
    display: block;
    width: 100%;
    border-radius: 20px;
    background: #f2f5fa;
    color: #454b58;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    // line-height: 1.84; /* 184.615% */
    border: 1px solid transparent;

    &::placeholder {
        color: #454b58;
    }
    &:hover {
        box-shadow: 0 0 5px rgb(42, 51, 66);
    }
    &:focus {
        border-color: rgb(42, 51, 66);
    }
}
.input_empty {
    border: 1px solid #ef4848;
    position: relative;
    &:after {
        position: absolute;
        content: 'Заполните поле';
        color: #ef4848;
        text-align: right;
        font-size: 9px;
        font-weight: 600;
        line-height: 1.1; /* 111.111% */
    }
}
