// .longPulling {
//     h1 {
//         margin: 25px 0;
//     }
//     .form {
//     }
// }
// .messages {
// }
// .messages__item {
//     border: 1px solid red;
//     padding: 25px;
//     margin-top: 25px;
// }

.longPulling {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #eee;
}

.chat {
    display: grid;
    grid-template-columns: 313px 1fr;
    border: 1px solid #dce3e8;
    height: 834px;
    overflow-y: auto;
}
.chat__left {
    margin-top: 58px;
}
.chat__group {
}
.chat__item {
    border-top: 1px solid #dce3e8;
    border-bottom: 1px solid #dce3e8;
    display: flex;
    padding: 7px;
    align-items: center;
}
.chat__item__left {
    img {
        width: 32px;
        height: 32px;
    }
}
.chat__item__right {
}
.chat__name {
    color: #292c32;
    font-size: 12px;
    font-weight: 700;
    line-height: 158.333%; /* */
}
.chat__last-text {
    color: #454b58;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.chat__right {
    border-left: 1px solid #dce3e8;
    position: relative;
}

.chat__right_top {
    padding: 19px 19px;
    border-bottom: 1px solid #dce3e8;
}
.chat__right_top_text {
    color: #292c32;
    font-size: 15px;
    font-weight: 700;
    line-height: 133.333%; /* 133.333% */
}

.messages {
    &__input {
        width: 100%;
        height: 51px;
        padding: 0 25px;
        color: #454b58;
        font-size: 13px;
        font-weight: 500;
        line-height: 184.615%; /* */
    }
}

.messages__input-wr {
    display: flex;
}
.messages__send {
    background: #f04973;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    svg {
        width: 17.999px;
        height: 15.999px;
    }
}
