.account {
}
.account__payment {
}
.account__title {
}
.account__subTitle {
    color: #292c32;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 126%; /* 126.667% */
    margin-bottom: 10px;
}
.payment__form {
    max-width: 328px;
}
.payment__title {
    color: #292c32;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 126.667%;
    margin-bottom: 20px; /* */
}
.payment__bottom-wr {
    display: flex;
    justify-content: space-between;
}
.payment__save_wr {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.payment__save_cancel {
    margin-left: 25px;
    color: #8b919e;
    font-size: 13px;
    font-weight: 600;
    line-height: 182.85%; /* 23.771px */
    text-decoration-line: underline;
    cursor: pointer;
}
.payment__card {
    border: 1px solid #dce3e8;
    padding: 18px 22px;
    width: 363px;
    display: flex;
    align-items: center;
}
.payment__card_img {
    margin-right: 22px;
}
.card__name {
    color: #292c32;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
}
.card__num {
    margin-top: 2px;
    color: #454b58;
    font-size: 14px;
    font-weight: 400;
    line-height: 182.85%; /* 25.599px */
}
