.item-forum {
	background: #fff;
	padding: 14px 20px 15px;
	border: 1px solid #DCE3E8;
	border-top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&_head {
		background: #FDE4EA;
		border: 0;
		.item-forum__title,
		.item-forum__update-text,
		.item-forum__amount-topic,
		.item-forum__info-create {
			color: #292C32;
			font-weight: 600;
			line-height: 1.5;
			pointer-events: none;
		}
	}
	&_topic {
		& .item-forum__info-wrap {
			flex-direction: row-reverse;
		}
	}
	&__info,
	&__info-wrap,
	&__name {
		display: flex;
		align-items: center;
	}
	&__icon-wrap {
		width: 21px;
		height: 21px;
		margin: 0 15px  0 0;
	}
	&__icon {
		object-fit: cover;
		width: 100%;
		height: 100%;
		aspect-ratio: 1/1;
	}
	&__info
	&__info-create,
	&__amount-topic,
	&__update {
		padding: 0 15px 0;
		text-align: center;
	}
	&__info-create {
		width: 130px;
	}
	&__amount-topic {
		width: 120px;
	}
	&__update {
		width: 200px;
	}
	&__title,
	&__update-text,
	&__amount-topic,
	&__info-create {
		color: #292C32;
		font-size: 15px;
		font-weight: 500;
		line-height: 1.3;
	}
	&__title:hover {
		opacity: .7;
	}
	&__update-text,
	&__info-create {
		color: #8B919E;
	}
	&__author {
		color: #8B919E;
		font-size: 12px;
		font-weight: 500;
		line-height: normal;
	}
	&__author-link {
		color: #454B58;
		text-decoration: underline;
	}
}