.textarea {
    &__input {
        padding: 16px 21px;
        color: #454b58;
        font-size: 13px;
        border: 1px solid #dce3e8;
        background: #fff;
        display: block;
        width: 100%;
        resize: none;
        font-weight: 500;
        &::placeholder {
            color: #7f838b;
        }
        &:hover {
            box-shadow: 0 0 1px rgb(42, 51, 66);
        }
        &:focus {
            border-color: #f04973;
        }
        &_variant-profile {
            border-radius: 20px;
            background: #f2f5fa;
            &:hover {
                box-shadow: 0 0 5px rgb(42, 51, 66);
            }
            &:focus {
                border-color: rgb(42, 51, 66);
            }
        }
    }
    & textarea::-webkit-scrollbar {
        display: none;
    }
    &__title {
        color: #8b919e;
        font-size: 13px;
        margin: 0 0 10px;
    }
}
