.textarea {
    padding: 9px 16px 8px;
    // color: #cccdcd;
    font-size: 16px;
    display: block;
    width: 100%;
    resize: none;
    height: 184px;

    height: 189px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #f2f5fa;
    &::placeholder {
        color: #20252b;
    }
    &:hover {
        box-shadow: 0 0 5px rgb(42, 51, 66);
    }
    &:focus {
        border-color: rgb(42, 51, 66);
    }
}
