.lesson-dropdown{
    width: 100%;
    border-radius: 20px;
    background: #F2F5FA; 
    position: relative;
    display: inline-block;   
    display: flex;
    padding: 0 17px 0 7px;
    height: 35px;
    align-items: center;
    

    &__toggle{
        background: none;
        padding: 8px 12px;
        cursor: pointer;
        width: 100%;
        text-align: left;
    }
    &__options{
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 5;
        top: calc(100% + 10px);
        left: 0; 
        width: 100%;
        border-radius: 10px;
        li {
            padding: 8px 12px;
            cursor: pointer;
        
            &:hover {
              background-color: #f0f0f0;
            }
          }      
    }
}