.article-card {
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 10px 60px 0px rgba(42, 102, 193, 0.15);
	overflow: hidden;
	&__image-wrap {
		height: 200px;
	}
	&__image {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&__body {
		padding: 27px 23px 29px;
		background: #fff;
	}
	&__title {
		color: #292C32;
		font-size: 16px;
		font-weight: 700;
		margin: 0 0 11px;
		line-height: 1.4;
	}
	&__text {
		line-height: 1.7;
		margin: 0 0 25px;
	}
}
