.article-card {
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 10px 60px 0px rgba(42, 102, 193, 0.15);
	overflow: hidden;
	transition: all .2s;
	cursor: pointer;
	&:hover {
		box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
	}
	&:hover .article-card__image {
		transform: scale(1.1);
	}
	&__image-wrap {
		height: 200px;
		overflow: hidden;
	}
	&__image {
		object-fit: cover;
		width: 100%;
		height: 100%;
		transition: all .2s;
	}
	&__body {
		padding: 27px 23px 29px;
		background: #fff;
		display: flex;
		flex-direction: column;
		height: 249px;
	}
	&__title {
		color: #292C32;
		font-size: 16px;
		font-weight: 700;
		margin: 0 0 11px;
		line-height: 1.4;
	}
	&__text {
		line-height: 1.7;
		margin: 0 0 22px;
		overflow: hidden;
		text-overflow: ellipsis;
		flex: 1 1 auto;
	}
}
