.popup {
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 10px 60px 0px rgba(42, 102, 193, 0.15);
	padding: 24px 25px 33px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	transform: scale(0);
	opacity: 0;
	z-index: -1;
	pointer-events: none;
	transition: all .2s;
	&.active {
		transform: scale(1);
		opacity: 1;
		z-index: 20;
		pointer-events: all;
	}
	&__close-btn span {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 20px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		&::after,
		&::before {
			content: "";
			display: block;
			height: 2px;
			width: 100%;
			background: #454B58;
			position: absolute;
		}
		&::after {
			transform: rotate(45deg);
		}
		&::before {
			transform: rotate(-45deg);
		}
	}
}
