.filter-catalog {
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 10px 60px 0px rgba(42, 102, 193, 0.15);
	padding: 30px 30px 42px;
	&__title {
		color: #292C32;
		font-size: 15px;
		line-height: 1.266;
		font-weight: 700;
		margin: 0 0 10px;
	}
	&__inner {
		margin: 0 0 40px;
		&:last-child {
			margin: 0 0 30px;
		}
	}
	&__clear-btn {
		display: block;
		color: #F04973;
		text-align: center;
		font-weight: 500;
		line-height: 1.2;
		text-decoration-line: underline;
	}
}
