.title {
	color: #292C32;
	font-family: 'EB Garamond', serif;
	font-size: 50px;
	font-weight: 600;
	line-height: normal;
	margin: 0 0 24px;
	&_align-left {
		text-align: left;
	}
	&_align-center {
		text-align: center;
	}
}