@keyframes waves {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 15px 15px;
    }
}

.teacher {
    &__background {
        background-image: url('../../../assets//images/teacher/background.svg');
        position: absolute;
        object-fit: contain;
        height: 1125px;
        background-repeat: no-repeat;
        width: 631px;
        animation: waves;
        animation-duration: 2s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    }
    &__background2 {
        position: absolute;
        right: 0;
        background-image: url('../../../assets//images/teacher/background2.svg');
        position: absolute;
        object-fit: contain;
        height: 637px;
        background-repeat: no-repeat;
        width: 840px;
        animation: waves;
        animation-duration: 2s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr 32.5%;
        column-gap: 50px;
    }
    &__vid {
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 10px 60px 0px rgba(42, 102, 193, 0.15);

        &_vid {
            width: 100%;
            height: 450px;
        }
    }
    &__descr_star {
        fill: red;
        width: 13px;
        height: 13px;
    }
}
