@keyframes waves {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 15px 15px;
    }
}

.teacher {
    &__background {
        background-image: url('../../../assets//images/teacher/background.svg');
        position: absolute;
        object-fit: contain;
        height: 1125px;
        background-repeat: no-repeat;
        width: 631px;
        animation: waves;
        animation-duration: 2s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
        pointer-events: none;
    }
    &__background2 {
        position: absolute;
        right: 0;
        background-image: url('../../../assets//images/teacher/background2.svg');
        position: absolute;
        object-fit: contain;
        height: 637px;
        background-repeat: no-repeat;
        width: 840px;
        animation: waves;
        animation-duration: 2s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
        pointer-events: none;
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr 32.5%;
        column-gap: 50px;
    }

    // .teacher__about

    &__about {
        margin-top: 30px;
        // .teacher__about_title
        padding: 40px;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 10px 60px 0px rgba(42, 102, 193, 0.15);
        &_title {
            color: #292c32;
            font-size: 20px;
            font-weight: 700;
            line-height: 22px; /* 110% */
            margin-bottom: 25px;
        }

        // .teacher__about_texts-wr

        &_text-wr {
            display: flex;
        }
        &_text_left {
            margin-right: 20px;
        }

        // .teacher__about_text

        &_text_right {
            * {
                color: #454b58;
                font-family: Montserrat;
                font-weight: 400;
                line-height: 182.85%; /* 25.599px */
            }
        }

        // .teacher__about_text

        &_text {
        }

        // .teacher__about_text

        &_text {
        }

        // .teacher__about_translate

        &_translate {
            color: #f04973;
            font-size: 12px;
            text-align: right;
            display: block;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            text-decoration-line: underline;
            transition: 0.3s;
            text-align: end;
            margin-top: 2px;
        }
    }
}

.ec {
    height: 526px;
    margin-top: 30px;
}
